/*----------------------------------ANIMATION-NAV---------------------------------------------------------------------*/
ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #000;
    transition: width 0.2s ease-in-out;
}

ul li a::before {
    top: 0;
    left: 0;
}

ul li a::after {
    bottom: 0;
    right: 0;
}

ul li a:hover::before {
    width: 100%;
}

ul li a:hover::after {
    width: 100%;
    transition-delay: 0.1s;
}
/*----------------------------------ANIMATION-FOOTER-MAIN-------------------------------------------------------------*/
.main-footer-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

.main-footer-link::before {
    top: 0;
    left: 0;
}

.main-footer-link::after {
    bottom: 0;
    right: 0;
}

.main-footer-link:hover::before {
    width: 100%;
}

.main-footer-link:hover::after {
    width: 100%;
    transition-delay: 0.1s;
}
/*----------------------------------ANIMATION-FOOTER------------------------------------------------------------------*/
footer ul li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: white;
    transition: width 0.2s ease-in-out;
}

footer ul li a::before {
    top: 0;
    left: 0;
}

footer ul li a::after {
    bottom: 0;
    right: 0;
}

footer ul li a:hover::before {
    width: 100%;
}

footer ul li a:hover::after {
    width: 100%;
    transition-delay: 0.1s;
}
/*----------------------------------ANIMATION-REGISTRATION------------------------------------------------------------*/
.registration-link::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    background-color: #000000;
    transition: width 0.2s ease-in-out;
}

.registration-link::before {
    top: 0;
    left: 0;
}

.registration-link::after {
    bottom: 0;
    right: 0;
}

.registration-link:hover::before {
    width: 100%;
}

.registration-link:hover::after {
    width: 100%;
    transition-delay: 0.1s;
}