$color_1: #999999;
$color_2: #000000;
$font-family_1: "Tenor Sans", sans-serif;
$font-family_2: "Libre Franklin", sans-serif;

@import "https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Tenor+Sans&family=Work+Sans:wght@300&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bungee&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap";
@import "https://fonts.googleapis.com/css2?family=Bungee&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap";
.first-section {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: center;
	img {
		width: 900px;
		height: 450px;
		display: block;
		margin: 0 auto;
	}
	ul {
		list-style: none;
		margin: 0 auto 0 auto;
		font-size: 24px;
		font-weight: 500;
		text-align: center;
		li {
			&:before {
				content: "⋅   ";
			}
		}
	}
}
.top {
	margin: 0 10px 0 10px;
}
section {
	margin: 0 10px 0 10px;
}
.bottom {
	margin: 0 10px 0 10px;
}
a:visited
{
	color: $color_2;
}
h1 {
	margin: 28px auto 28px auto;
	font-family: $font-family_1;
	font-size: 40px;
	font-weight: 500;
	text-align: center;
}
p {
	margin: 15px auto 0 auto;
	font-size: 24px;
	font-weight: 500;
	text-align: center;
}
@media (min-width: 1000px) {
	.second-section {
		margin-top: 28px;
		.cards-title {
			font-family: $font-family_2;
			font-size: 10px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: 1px;
			color: $color_1;
			margin: 0 5% 0 5%;
		}
	}
	.cards-container {
		display: flex;
		margin: 32px 5% 0 5%;
		justify-content: space-between;
		div {
			h5 {
				font-family: $font-family_2;
				font-weight: 400;
				font-family: $font-family_2;
				font-size: 10px;
				margin-top: 15px;
				color: $color_1;
			}
			h2 {
				line-height: 24px;
				margin-bottom: 15px;
				font-family: $font-family_1;
				font-size: 19px;
				margin-top: 18px;
				color: $color_2;
			}
			strong {
				font-size: 10px;
				font-family: $font-family_2;
				font-weight: bold;
				letter-spacing: 1px;
				word-spacing: 5px;
			}
			img {
				width: 523px;
				height: 187px;
			}
		}
	}
}
@media (max-width: 1000px) {
	.container1 {
		h1 {
			margin-left: 54%;
		}
	}
	.second-section {
		margin-top: 28px;
		.cards-container {
			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				margin-top: 20px;
				h2 {
					text-align: center;
					font-family: $font-family_1;
					font-size: 30px;
					margin-top: 18px;
					color: $color_2;
				}
				h5 {
					font-family: $font-family_2;
					font-size: 19px;
					font-weight: 400;
					margin-top: 15px;
					color: $color_1;
				}
				strong {
					font-size: 25px;
					font-family: $font-family_2;
					font-weight: bold;
					letter-spacing: 1px;
					word-spacing: 5px;
					margin-top: 10px;
				}
			}
		}
		.cards-title {
			font-family: $font-family_2;
			font-size: 25px;
			font-weight: 400;
			line-height: 120%;
			letter-spacing: 1px;
			color: $color_1;
			margin-left: 6%;
		}
	}
	.cards-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		div {
			img {
				height: 120%;
				width: 120%;
			}
		}
	}
}
