@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Tenor+Sans&family=Work+Sans:wght@300&display=swap');
footer {
    margin-top: 54px;
    height: 500px;
    color: white;
    background-color: #141414;
}

.container-text {
    height: 120px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: #4D4D4D;
    border-bottom-width: 1px;
}

.footer-text {
    position: absolute;
    margin-top: 50px;
    font-family: 'Tenor Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 1px;
}

footer ul li, footer h3 {
    font-weight: 400;
    line-height: 120%;
}
/*footer-categories*/
.categories {
    margin-top: 50px;
}

.categories .topics-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.topics-container .second-topic {
    margin-right: 164px;
}

.topics-container h3 {
    color: #666666;
    font-size: 10px;
    font-family: "Libre Franklin", sans-serif;
}

.categories ul {
    display: inline-block;
    margin-right: 14.5%;/*180px*/
    margin-bottom: 50px;
}

.categories ul li {
    list-style-type: none;
    margin-bottom: 30px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
}

.send-email button {
    width: 80px;
    height: 54px;
    text-align: center;
    color: white;
    background-color: black;
    margin-left: -5px;
    border: none;
    outline: none;
}

.send-email input {
    padding: 0 0 0 10px;
    font-family: "Libre Franklin", sans-serif;
    outline: none;
    height: 50px;
    width: 220px;
}
/*footer-information*/
.information .info-container {
    display: flex;
    margin-bottom: 30px;
}

.information .first-info {
    margin-right: 14.4%;
}

.info-container h3 {
    color: #666666;
    font-size: 10px;
    font-family: "Libre Franklin", sans-serif;
}

.information ul {
    display: inline-block;
    margin-right: 14.4%;
}

.information ul li {
    list-style-type: none;
    margin-bottom: 30px;
    font-family: "Libre Franklin", sans-serif;
    font-size: 14px;
}

.information .second-ul {
    margin-left: 18px;
}

@media (min-width: 1000px) {
    .bottom {
        display: block;
    }
    .second-bottom {
        display: none;
    }
}
@media (max-width: 1000px) {
    .bottom {
        display: none;
    }
    footer {
        height: 400px;
    }
    .second-bottom {
        display: block;
        height: 200px;
    }
    .send-email2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .second-bottom .main-footer-link {
        font-size: 30px;
        margin-left: 15px;
    }

    .send-email2 input {
        width: 75%;
        height: 74%;
        font-size: 25px;
        margin-top: 15px;
        padding: 0 0 0 10px;
        font-family: "Libre Franklin", sans-serif;
        outline: none;
    }

    .send-email2 button {
        width: 76.5%;
        height: 74%;
        margin-top: 15px;
        text-align: center;
        color: white;
        background-color: black;
        font-size: 25px;
        border: none;
        outline: none;
    }

    .send-email2 span {
        font-family: "Libre Franklin", sans-serif;
        font-size: 25px;
        color: #666666;
        margin-left: 15px;
        margin-top: 20px;
    }
}