/*----------------------------------MEDIA-RULES-----------------------------------------------------------------------*/
@media (max-width: 1230px) {
  .main-img:not(:last-child) {
      margin-right: calc(15px + 35 * ((100vw - 320px) / 910));
  }
}

@media (max-width: 1920px) {
  .main-img {
      flex-basis: 720px;
  }
}

@media (max-width: 1920px) and (max-width: 1230px) {
  .main-img {
      flex-basis: calc(120px + 600 * ((100vw - 320px) / 910));
  }
}

@media (min-width: 1440px) {
  .top, section, .bottom {
      margin: 0 110px 0 110px;
  }
}

@media (min-width: 1920px) {
  .top, section, .bottom {
      margin: 0 246px 0 246px;
  }
}

@media (min-width: 1920px) {
  .second-section .cards-container {
      margin: 0 11% 0 11%;
  }
  .second-section .cards-title {
      margin: 0 11% 0 11%;
  }
}
/*-------------for-mobile-nav----------------*/
@media (min-width: 1000px) {
  .top {
      display: block;
  }
  .menu {
      display: none;
  }
}
@media (max-width: 1000px) {
  .top {
      display: none;
  }
  .menu {
      height: 80px;
  }
  .burger-checkbox {
      position: absolute;
      visibility: hidden;
  }
  .burger {
      margin: 20px 20px 20px 20px;
      position: relative;
      z-index: 99;
      cursor: pointer;
      display: block;
      position: relative;
      border: none;
      background: transparent;
      width: 40px;
      height: 26px;
  }
  .burger::before,
  .burger::after {
      content: '';
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 10px;
      background: #000;
  }
  .burger::before {
      top: 0;
      box-shadow: 0 11px 0 #000;
      transition: box-shadow .3s .15s, top .3s .15s, transform .3s;
  }
  .burger::after {
      bottom: 0;
      transition: bottom .3s .15s, transform .3s;
  }
  .burger-checkbox:checked + .burger::before {
      top: 11px;
      transform: rotate(45deg);
      box-shadow: 0 6px 0 rgba(0,0,0,0);
      transition: box-shadow .15s, top .3s, transform .3s .15s;
  }
  .burger-checkbox:checked + .burger::after {
      bottom: 11px;
      transform: rotate(-45deg);
      transition: bottom .3s, transform .3s .15s;
  }
  .menu-list {
      top: 0;
      left: 0;
      position: absolute;
      display: grid;
      gap: 12px;
      padding: 42px 0;
      margin: 0;
      background: lightgrey;
      list-style-type: none;
      transform: translateX(-100%);
      transition: .3s;
      width: 200px;
      z-index: 98;
  }
  .menu-item {
      display: block;
      padding: 8px;
      color: white;
      font-size: 18px;
      text-align: center;
      text-decoration: none;
  }
  .menu-item:hover {
      background: rgba(255,255,255,.2)
  }
  .burger-checkbox:checked ~ .menu-list {
      transform: translateX(0);
  }
}
/*-------------for-mobile-footer----------------*/
@media (min-width: 1000px) {
  .bottom {
      display: block;
  }
  .second-bottom {
      display: none;
  }
}
@media (max-width: 1000px) {
  .bottom {
      display: none;
  }
  footer {
      height: 300px;
  }
  .second-bottom {
      display: block;
      height: 200px;
  }
  .send-email2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

  .send-email2 input {
      width: 75%;
      height: 54px;
      margin-top: 15px;
      padding: 0 0 0 10px;
      font-family: "Libre Franklin", sans-serif;
      outline: none;
  }

  .send-email2 button {
      width: 76.5%;
      height: 54px;
      margin-top: 15px;
      text-align: center;
      color: white;
      background-color: black;
      margin-left: -5px;
      border: none;
      outline: none;
  }
}
/*-------------for-mobile-main----------------*/
@media (min-width: 1000px) {
  .main-block {
      display: flex;
  }
  .main-block2 {
      display: none;
  }
}
@media (max-width: 1000px) {
  .main-block {
      display: none;
  }
  .main-block2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
}
/*-------------for-mobile-cards----------------*/
@media (max-width: 1000px) {
  .first-cards-container {
      display: block;
      width: 100%;
  }
  .second-cards-container {
      display: block;
      width: 100%;
  }
  .cards-title {
      font-size: 40px;
  }
}
/*-------------for-mobile-article----------------*/
@media (max-width: 1000px) {
  .cards-container {
      display: block;
      width: 100%;
  }
  .cards-container div {
      margin-top: 20px;
  }
  .cards-container div img {
      height: 100%;
  }
}