/*----------------------------------MEDIA-RULES-----------------------------------------------------------------------*/
@media (max-width: 1230px) {
    .main-img:not(:last-child) {
        margin-right: calc(15px + 35 * ((100vw - 320px) / 910));
    }
}

@media (max-width: 1920px) {
    .main-img {
        flex-basis: 720px;
    }
}

@media (max-width: 1920px) and (max-width: 1230px) {
    .main-img {
        flex-basis: calc(120px + 600 * ((100vw - 320px) / 910));
    }
}

@media (min-width: 1440px) {
    .top, section, .bottom {
        margin: 0 110px 0 110px;
    }
}

@media (min-width: 1920px) {
    .top, section, .bottom {
        margin: 0 246px 0 246px;
    }
}

@media (min-width: 1920px) {
    .second-section .cards-container {
        margin: 0 11% 0 11%;
    }
    .second-section .cards-title {
        margin: 0 11% 0 11%;
    }
}